body {font-family: livory; font-size: 18px; padding: 0 0 0 25px;}

h2, h3 { font-weight: normal; font-family: "proxima-nova", helvetica, arial; margin: 0 0 0 25px}
h2 { padding: 25px 0 4px 0; font-weight: bold; font-size: 32px; }
h3 { padding: 0 0 20px 0; font-size: 15px}

article, section { float:left; }
article { margin-right: 1em;}

article #poem span.poem { padding: 2px; cursor: pointer }

article #poem span.poem:hover { background: rgba(225, 238, 246, 0.25); border-radius: 2px}
article #poem span.poem:active { background: rgba(138, 	187, 220, .35);} 

section { font-size: 0.9em;}
section #other p.instructions { font-family: "proxima-nova", helvetica, arial; background: #f3f3f3; content: #a9aaaa; display: block; padding:75px 25px; border-radius: 3px; border:1px solid rgba(0, 0, 0, .05); margin-top: 105px; vertical-align: middle; }

.author-name {font-size: .75em; color: #aaa; font-family: "proxima-nova", helvetica, arial}
.line-number { display:inline-block; width:16px; font-size: 12px; color: #ccc; font-family: "proxima-nova"}

.selected { color: rgba(0, 0, 0, 0.6);}  